@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap');
:root {
    --bg: rgb(104, 133, 98);
    --blue: #4cb5f5;
    --gray: #b7b8b6;
    --darkGreen: #34675c;
    --lightGreen: #b3c100;
    --text: #333;
    --white: #fff;
    --fontSize: 16px;
    --font: 'Raleway', sans-serif;
    --transition: .3s ease;
    --py: 60px 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:hover {
    transition: var(--transition);
}

body {
    background-image: linear-gradient(rgba(104, 133, 98, .7), rgba(104, 133, 98, .7)), url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 100px 0;
    font-family: var(--font);
}
button {
    padding: 10px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    background: var(--lightGreen);
    margin-top: 20px;
}
button:hover {
    background: var(--white);
    transition: .3s ease;

}
h2 {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.topbar {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
}
.topbar .logo {
    font-weight: 800;
}
.topbar p {
    color: var(--lightGreen);
}
.topbar a {
    color: var(--white);
}
.topbar a:hover {
    color: var(--lightGreen);
}

main {
    max-width: 1140px;
    margin: auto;
}

.intro {
    display: flex;
    margin-top: 50px;
    color: var(--white);
}

.intro article:first-child {
    flex: 0 0 40%;
}
.intro article:first-child div:first-child{
    background-color: var(--darkGreen);
    padding: 30px;
}
.intro article:first-child div:last-child{
    background-color: var(--blue);
    padding: 30px;
}

.intro article:last-child {
    flex: 0 0 60%;
    background-image: url(../img/uvod.jpg);
    background-position: center;
    background-size: cover;
}
.intro h2 {
    margin-bottom: 20px;
}


.info {
    background-color: var(--white);
    text-align: center;
    padding: 60px 0;
}
.info .row:first-child {
    padding: 0 200px 40px 200px;
}
.info .row:last-child {
    display: flex;
}
.info .row:last-child div {
    border-right: 1px solid grey;
    flex: 1;
    padding: 10px;
}
.info .row:last-child div:last-child {
    border-right: none;
}
.info i {
    font-size: 2rem;
    border: 1px solid var(--gray);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.info .fa-camera-retro {
    color: var(--lightGreen);
}
.info .fa-envelope {
    color: var(--darkGreen);
}
.info .fa-phone {
    color: var(--blue);
}
.info h4 {
    margin-bottom: 8px;
    font-size: 1.2rem;
}
.info h2 {
    margin-bottom: 15px;
}